<label>
  Dishname:
  <input type="text" [formControl]="name"/>
</label>
<label>
  Vegetarian:
  <input type="checkbox" [formControl]="vega"/>
</label>

<div>
  <ul>
    <li *ngFor="let d of getFilteredDishes()">
      <span *ngIf="d.vegetarian" style="color: green;">{{d.name}}</span>
      <span *ngIf="!d.vegetarian">{{d.name}}</span>
    </li>
  </ul>
</div>
