<div class="container form-box">
  <form [formGroup]="dishForm" (ngSubmit)="dishForm.valid && onSubmit()">
    <div class="form-group">
      <label for="name">
        Name:
        <input type="text" formControlName="name" />
      </label>
      <div
        class="text-warning"
        *ngIf="
          (dishForm.get('name').touched || dishForm.get('name').dirty) &&
          dishForm.get('name').errors?.required
        "
      >
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="isVegetarian">
        Vegetarian:
        <input type="checkbox" formControlName="isVegetarian" />
      </label>
    </div>

    <div class="form-group">
      <label for="mainIngredient">
        Main ingredient:
        <input
          id="mainIngredient"
          type="text"
          formControlName="mainIngredient"
          required
        />
      </label>
      <div
        class="text-warning"
        *ngIf="
          dishForm.get('mainIngredient').touched &&
          dishForm.get('mainIngredient').errors?.required
        "
      >
        Main ingredient is required.
      </div>
      <div
        class="text-warning"
        *ngIf="
          (dishForm.get('mainIngredient').touched ||
            dishForm.get('mainIngredient').dirty) &&
          dishForm.get('mainIngredient').errors?.pattern
        "
      >
        Main ingredient can only contain letters and<br />
        must contain min. of 3 letters.
      </div>
    </div>

    <div class="form-group">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!dishForm.valid"
      >
        Submit
      </button>
    </div>

    Value: {{ dishForm.value | json }}

    <div class="form-group">
      <strong>Dish Status: {{ dishForm.status }}</strong>
    </div>
  </form>
</div>
